
*.DS_Store
.idea/workspace.xml
*__pycache__

# Private info
cgi-bin/api_key.py
cgi-bin/email_config.txt
cgi-bin/database_config.json
local_app/api_key.py

# Self-install
cgi-bin/graph
local_app/graph

# Workspace-specific
*.idea
addressrouter/tests/testfiles/api.txt
addressrouter/tests/testfiles/api.txt
